<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="cs" connectionString="Data Source = COMP505\SQLEXPRESS; Initial Catalog = Shop; Integrated Security = true;"/>
  </connectionStrings>
</configuration>